@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p:first-child[data-placeholder]::before,
.ProseMirror h1:first-child[data-placeholder]::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

.ProseMirror h1:first-child + p[data-placeholder]::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}
